<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zodiackiller">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewGameActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Scene1a"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".PuzzleOne"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LevelFail"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".PuzzleTwo"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".PuzzleThree"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".KillerFacePuzzle"
            android:exported="true"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".RoadChase"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".scenetwo"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Puzzletwo"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".hScore"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".PlayerName"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>